@media(max-width: 767px) {
    .home-image {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .full-screen {
        padding: 100px 0;
    }

    .home-image .img-box {
        margin-bottom: 40px;
        max-width: 350px;
    }

}

@media(max-width: 574px) {
    .home-image .img-box {
        max-width: 860px;
    }
}